<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
     td{padding:6px;}
     th{padding:6px;}

 .sbl
   {
    display:block;
    border:1px solid #999999;
    border-radius:5px;  
   }
  a:hover
  {
    padding:8px 8px 8px 8px;
    border:solid;
    background-color:gray;
    border-right-color:gray;
    border-bottom-color:gray;
    border-left-color:black;
    border-top-color:black;
  }
</style>
</head>
<body>

<center>
<fieldset class="sbl">
<p id="notice"><%= notice %></p>

<h1>Listing Friend</h1>
<% if @friends.present? %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td align="center"><%= friend.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Currently you has no friend....
 <% end %> 
<br>

<a><%= link_to 'Back', root_path %></a>
</fieldset>
</center>
</body>
</html>
