<!DOCTYPE>
<html>
<head>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Poiret+One" %>
<%= stylesheet_link_tag "bootstrap/css/bootstrap.min" %>
	<style>   


  *{
  font-family: 'Poiret One';
}
body
{
  background-image: url('/assets/bg.jpg');
  color: #fff;
  
  background-size: cover;
}
     td{padding:6px;}

     
  .bg_color
  {
    height: 1000px;
    width: 100%;
    background-color: rgba(11,124,135,0.6) !important;
  }
  .links
  {
    color: #fff !important;
    font-size: 50px !important;
    font-weight: 100 !important;
    text-decoration: none !important;
    background: none;
  }
  .black_clr
  {
    color: #000;
  }
 input[type=submit]
  {
    background: none !important;
    border: 1px solid #fff !important;
    padding: 5px !important;
  }
a
{
    background: none !important;
    border: 1px solid #fff !important;
    padding: 7px !important;
    color: #fff !important;
    text-decoration: none !important;
    margin: 10px !important;
  }
 
  
</style>
</head>
<body>

<div class="bg_color">
<center>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6">
      <h1 style="font-size:60px;font-weight:100;margin-top:50px;">New POST</h1>
    </div>
  </div>
</div>
<%= render 'form' %></br>

<%= link_to 'Back', posts_path %>
</center>
</div>
</body>
</html>